<div ng-switch="op">
    <span ng-switch-when="sig">
        signed by {{arrMyPubKeys.indexOf(args.pubkey) >= 0 ? 'you' : 'public key ' + args.pubkey}}
    </span>

    <span ng-switch-when="address">
        signed by
        <span ng-if="arrMyAddresses.indexOf(args) >= 0"
            title="your address: {{args}}">
            you
        </span>
        <span ng-if="arrMyAddresses.indexOf(args) < 0 && assocPeerNamesByAddress[args]"
            title="peer address: {{args}}">
            {{assocPeerNamesByAddress[args]}}
        </span>
        <span ng-if="arrMyAddresses.indexOf(args) < 0 && !assocPeerNamesByAddress[args]">
            {{args}}
        </span>
    </span>

    <span ng-switch-when="cosigned by">
        cosigned by
        <span ng-if="arrMyAddresses.indexOf(args) >= 0"
            title="your address: {{args}}">
            you
        </span>
        <span ng-if="arrMyAddresses.indexOf(args) < 0 && assocPeerNamesByAddress[args]"
            title="peer address: {{args}}">
            {{assocPeerNamesByAddress[args]}}
        </span>
        <span ng-if="arrMyAddresses.indexOf(args) < 0 && !assocPeerNamesByAddress[args]">
            {{args}}
        </span>
    </span>

    <span ng-switch-when="not">
        <span class="size-18">not</span>
        <div class="indent">
            <div
                op="args[0]"
                args="args[1]"
                arr-my-addresses="arrMyAddresses"
                arr-my-pub-keys="arrMyPubKeys"
                assoc-peer-names-by-address="assocPeerNamesByAddress"
                b-with-links="bWithLinks" 
                display-hrd></div>
        </div>
    </span>

    <div ng-switch-when-separator="," ng-switch-when="or,and">
        <div ng-repeat="subDefinition in args track by $index">
            <div class="indent">
                <div
                op="subDefinition[0]"
                args="subDefinition[1]"
                arr-my-addresses="arrMyAddresses"
                arr-my-pub-keys="arrMyPubKeys"
                assoc-peer-names-by-address="assocPeerNamesByAddress"
                b-with-links="bWithLinks" 
                display-hrd></div>
            </div>
            <span ng-if="!$last" class="size-18">{{op}}</span>
        </div>
    </div>

    <span ng-switch-when="r of set">
        at least {{args.required}} of the following is true:
        <br />
        <span ng-repeat="subDefinition in args.set track by $index">
            <div class="indent">
                <div
                    op="subDefinition[0]"
                    args="subDefinition[1]"
                    arr-my-addresses="arrMyAddresses"
                    arr-my-pub-keys="arrMyPubKeys"
                    assoc-peer-names-by-address="assocPeerNamesByAddress"
                    b-with-links="bWithLinks" 
                    display-hrd></div>
            </div>
            <span ng-if="!$last">,</span>
        </span>
    </span>

    <span ng-switch-when="weighted and">
        the total weight of the true conditions below is at least {{args.required}}:
        <br />
        <span ng-repeat="subDefinition in args.set track by $index">
            {{args.weight}}:
            <div class="indent">
                <div
                    op="subDefinition[0]"
                    args="subDefinition[1]"
                    arr-my-addresses="arrMyAddresses"
                    arr-my-pub-keys="arrMyPubKeys"
                    assoc-peer-names-by-address="assocPeerNamesByAddress"
                    b-with-links="bWithLinks" 
                    display-hrd></div>
            </div>
            <span ng-if="!$last">,</span>
        </span>
    </span>

    <span ng-switch-when="timestamp">
        <span ng-switch="args[0]">
            <span ng-switch-when-separator="," ng-switch-when=">,>=">
                after
            </span>
            <span ng-switch-when-separator="," ng-switch-when="<,<=">
                before
            </span>
            <span ng-switch-when="=">
                at
            </span>
            <span ng-switch-when="!=">
                not at
            </span>
        </span>
        {{args[1] * 1000 | date: 'MMM dd, yyyy'}}
    </span>

    <span ng-switch-when="in data feed">
        <span ng-if="args[1]==='timestamp' && args[2]==='>' && (parseInt(args[3]).toString() === args[3])">
            after {{ ((typeof args[3] === 'number') ? args[3]) : parseInt(args[3])) | date: 'MMM dd, yyyy'}}
        </span>

        <span ng-if="args[1]!=='timestamp'">
            Oracle {{args[0].join(', ')}} posted {{args[1]}} {{args[2]}} {{args[3]}}
            <span ng-if="args[4]"> after MCI {{args[4]}}</span>
        </span>
    </span>

    <span ng-switch-when="in merkle">
        A proof is provided that oracle {{args[0].join(', ')}} posted {{args[3]}} in {{args[1]}}
        <span ng-if="args[4]"> after MCI {{args[4]}}</span>
    </span>

    <span ng-switch-when="has">
        <span ng-if="args.what==='output' && args.asset && args.amount_at_least && args.address">
            sends at least {{getAmountText(args.amount_at_least, args.asset)}} to 
            <span ng-if="arrMyAddresses.indexOf(args.address) >= 0"
                title="your address: {{args.address}}">
                you
            </span>
            <span ng-if="arrMyAddresses.indexOf(args.address) < 0 && assocPeerNamesByAddress[args.address]"
                title="peer address: {{args.address}}">
                {{assocPeerNamesByAddress[args.address]}}
            </span>
            <span ng-if="arrMyAddresses.indexOf(args.address) < 0 && !assocPeerNamesByAddress[args.address]">
                {{args.address}}
            </span>
        </span>

        <span ng-if="args.what === 'output' && args.asset && args.amount && args.address">
            sends {{getAmountText(args.amount, args.asset)}} to
            <span ng-if="arrMyAddresses.indexOf(args.address) >= 0"
                title="your address: {{args.address}}">
                you
            </span>
            <span ng-if="arrMyAddresses.indexOf(args.address) < 0 && assocPeerNamesByAddress[args.address]"
                title="peer address: {{args.address}}">
                {{assocPeerNamesByAddress[args.address]}}
            </span>
            <span ng-if="arrMyAddresses.indexOf(args.address) < 0 && !assocPeerNamesByAddress[args.address]">
                {{args.address}}
            </span>
        </span>

        <span ng-if="args.what !== 'output'">
            {{JSON.stringify(arrDefinition)}}
        </span>
    </span>

    <span ng-switch-when="seen">
        <span ng-if="args.what === 'output' && args.asset && args.amount && args.address">
            there was a transaction that sends 
            <span ng-if="arrMyAddresses.indexOf(args.address) >= 0 && bWithLinks">
                <a ng-click="sendPayment(dest_address, args.amount, args.asset)">
                    {{getAmountText(args.amount, args.asset)}}  to
                    <span ng-if="arrMyAddresses.indexOf(args.address) >= 0"
                        title="your address: {{args.address}}">
                        you
                    </span>
                    <span ng-if="arrMyAddresses.indexOf(args.address) < 0 && assocPeerNamesByAddress[args.address]"
                        title="peer address: {{args.address}}">
                        {{assocPeerNamesByAddress[args.address]}}
                    </span>
                    <span ng-if="arrMyAddresses.indexOf(args.address) < 0 && !assocPeerNamesByAddress[args.address]">
                        {{args.address}}
                    </span>
                </a>
            </span>
            <span ng-if="arrMyAddresses.indexOf(args.address) < 0 || !bWithLinks">
                {{getAmountText(args.amount, args.asset)}}  to 
                <span ng-if="arrMyAddresses.indexOf(args.address) >= 0"
                    title="your address: {{args.address}}">
                    you
                </span>
                <span ng-if="arrMyAddresses.indexOf(args.address) < 0 && assocPeerNamesByAddress[args.address]"
                    title="peer address: {{args.address}}">
                    {{assocPeerNamesByAddress[args.address]}}
                </span>
                <span ng-if="arrMyAddresses.indexOf(args.address) < 0 && !assocPeerNamesByAddress[args.address]">
                    {{args.address}}
                </span>
            </span>
        </span>

        <span ng-if="args.what === 'input' && (args.asset && args.amount || !args.asset && !args.amount) && args.address">
            there was a transaction that spends {{(args.asset && args.amount) ? getAmountText(args.amount, args.asset) : ''}} from {{args.address}}
        </span>

        <span ng-if="args.what !== 'output' && args.what !== 'input'">
            {{JSON.stringify(arrDefinition)}}
        </span>
    </span>

    <span ng-switch-default>
        {{JSON.stringify(arrDefinition)}}
    </span>
</div>
